<div class="container">
    <div class="row">
        <div class="card-group">
            <div class="col-4" *ngFor="let product of products">

                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">
                        <h4 class="card-title">{{product.name}}</h4>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{product.price}} $</h3>
                        <p class="card-text">{{product.description}}</p>
                        <!-- <a href="#" class="btn btn-primary">See Details</a>&nbsp;
                        <a href="#" class="btn btn-primary">Add to card</a> -->
                    </div>
                    <div class="card-footer">
                        <a href="#" [routerLink]="['/details', product.id_product]" class="btn btn-primary">See Details</a>&nbsp;
                        <a href="#" class="btn btn-primary" (click)="insertToCar(product)">Add to card</a>
                    </div> 

                </div>
            </div>
        </div>
    </div>
</div>